@import "fonts"
@import "libs"
@import "vars"

body
	opacity: 1

*
	outline: none!important

@-webkit-keyframes fadeEffect
	0%
		opacity: 0
	50%
		opacity: 0
	100%
		opacity: 1

@keyframes bgMove
	0%
		background-position: 0px
	50%
		background-position: 15px
	100%
		background-position: 0px

@keyframes fade-translate
	0%
		transform: translate3d(0px, -50px, 0px)
		opacity: 0
	50%
		transform: translate3d(0px, -50px, 0px)
		opacity: 0
	100%
		transform: translate3d(0px, 0px, 0px)
		opacity: 1
@keyframes fade-translateBottom
	0%
		transform: translate3d(0px, 50px, 0px)
		opacity: 0
	50%
		transform: translate3d(0px, 50px, 0px)
		opacity: 0
	100%
		transform: translate3d(0px, 0px, 0px)
		opacity: 1
@keyframes fade-translateLeft
	0%
		transform: translate3d(-50px, -50%, 0px)
		opacity: 0
	50%
		transform: translate3d(-50px, -50%, 0px)
		opacity: 0
	100%
		transform: translate3d(0px, -50%, 0px)
		opacity: 1
@keyframes fade-translateRight
	0%
		transform: translate3d(50px, -50%, 0px)
		opacity: 0
	50%
		transform: translate3d(50px, -50%, 0px)
		opacity: 0
	100%
		transform: translate3d(0px, -50%, 0px)
		opacity: 1
@keyframes ani-mouse
	0%
		opacity: 1
		top: 29%
	15%
		opacity: 1
		top: 50%
	50%
		opacity: 0
		top: 50%

	100%
		opacity: 0
		top: 29%

//project start



.calc-price
	text-align: center

.form-c
	display: flex
	align-items: center
	justify-content: center

	input
		background: transparent
		border: solid 1px #b7b7b7
		width: 225.5px
		height: 37px
		padding-left: 12px
		color: #FFFFFF
		margin-right: 10px
		&:last-child
			margin-right: 0px
		&::-webkit-input-placeholder
			color: #FFFFFF
		&:-moz-placeholder
			color: #FFFFFF
		&::-moz-placeholder
			color: #FFFFFF

.h3
	color: #0c1d38
	font-weight: 700
	text-align: center
	font-size: 30px
	text-transform: uppercase

.promProofs
	background: #e9edf0
	position: relative
	padding-top: 82px
	padding-bottom: 52px
	.h3
		margin-bottom: 25px
		font-size: 30px
	.money-c
		position: absolute
		left: 50%
		top: 0px
		transform: translate(-50%, -50%)
	.h2
		font-size: 18px
		color: #0c1d38
		font-weight: bold
		text-transform: uppercase
		margin-top: 19px

.solid-txt
	padding-bottom: 20px
	position: relative
	text-align: center
	&:after
		content: ''
		position: absolute
		bottom: 0px
		width: 39px
		height: 2px
		background-color: #ff0000
		left: 50%
		transform: translate(-50%, 0)

.proofs-c
	display: flex
	justify-content: space-between
	.proofs-i
		width: 33%
		display: flex
		flex-direction: column
		align-items: center
		margin-right: 50px
		.h2
			white-space: nowrap
		&:last-child
			margin-right: 0px
		.red-ul
			margin-top: 21px
.red-ul
	list-style: none
	padding-left: 15px
	max-width: 100%
	&.yel-t
		padding-left: 40px
		li
			margin-bottom: 20px
			&:after
				background: #ffc113
				top: 5px
				left: -34px
	li
		color: #0c1d38
		font-size: 14px
		position: relative
		line-height: 1.2
		&:after
			content: ''
			position: absolute
			left: -15px
			top: 8px
			width: 6px
			height: 6px
			background: #ff0000 
.photo-c
	min-width: 149px
	min-height: 140px
	background-position: center
	background-repeat: no-repeat
	display: flex
	align-items: center
	justify-content: center
	position: relative
	left: 0px
	margin-left: -27px
	.prev
		width: 94px
		height: 94px
		background-position: center

.h4
	font-size: 19px
	color: #ffc113
	font-weight: 700
	text-transform: uppercase
	text-align: center

.photo-txt
	display: flex
	p
		color: #FFFFFF
		line-height: 1.71
		margin-top: 40px
		margin-left: 10px
	strong
		color: #ffc113
		font-size: 18px
		line-height: 1
.start-step
	display: flex
	justify-content: space-around
	border-top: solid 1px #e8edf0
	border-bottom: solid 1px #e8edf0
	padding: 15px 0px
	margin-top: 40px
	margin-bottom: 50px
	.step-i
		display: flex
		align-items: center
		.txt
			color: #FFFFFF
			font-size: 18px
			margin-left: 10px
		.nums
			min-width: 28px
			min-height: 28px
			width: 28px
			height: 28px
			background: #ffc113
			border-radius: 100px
			display: flex
			align-items: center
			justify-content: center
			font-size: 18px
			color: #1b3355
			font-weight: 700

.svg-c
	display: flex
	align-items: center
	justify-content: center

.left-ico-c
	display: flex
	align-items: center
	justify-content: space-between
	margin-top: 34px
	.left-ico-i
		display: flex
		align-items: center
		.svg-c
			padding-right: 10px
	.txt
		border-left: solid 2px #ffc113
		font-size: 13px
		color: #FFFFFF
		font-weight: 700
		text-transform: uppercase
		padding-left: 10px

.redBg-c
	position: relative
	.redBg-txt
		color: #FFFFFF
		font-weight: 700
		font-size: 18px
		text-align: center
		padding: 37px 105px
		margin-top: 45px
		position: relative
		z-index: 3
		background-image: linear-gradient(#d52932, #d52932), linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0))
		box-shadow: 0px 5px 0 0 #7c0c0c
		position: relative
	.lenta-bg
		position: absolute
		width: 100%
		height: 100%
		top: 0px
		z-index: 2
		&:before
			content: ''
			position: absolute
			transform: translate(-50%, 0)
			background-image: url("../img/leftLenta.png")
			left: 0px
			top: 15px
			width: 76px
			height: 115px
		&:after
			content: ''
			position: absolute
			transform: translate(50%, 0)
			background-image: url("../img/rightLenta.png")
			right: 0px
			top: 15px
			width: 76px
			height: 115px
.promAudit
	padding-top: 80px
	position: relative
	background-color: #e7ebee
	.btn-c
		display: flex
		justify-content: center
	.calc-price
		width: auto
		display: inline-block
		padding-right: 15px
		padding-left: 15px
	.red-ul
		border-bottom: solid 1px #616876
		padding-bottom: 15px
		padding-left: 38px
.promAudit1
	padding-bottom: 90px
.promAudit2
	background: #FFFFFF
	padding: 65px 0px
.border-tr
	border-color: transparent!important


.promAudit1
	position: relative
	z-index: 1
.bg-Audit
	position: absolute
	top: 0px
	height: 100%
	width: 100%
	pointer-events: none
	background-repeat: no-repeat
.tringle-txt
	background: #ffc113
	min-width: 765px
	font-size: 18px
	font-weight: 900
	color: #1a1a1a
	text-align: center
	padding: 10px 25px
	margin-top: 17px
	position: relative
	display: inline-block
	left: 50%
	transform: translate(-50%, 0)
	margin-bottom: 18px
	&:after
		content: ''
		position: absolute
		bottom: -19px
		width: 0
		height: 0
		border-style: solid
		border-width: 19px 12px 0 12px
		border-color: #ffc013 transparent transparent transparent
		left: 50%
		transform: translate(-50%, 0)
	&.grey-bg
		background: #e7ebee
		&:after
			border-color: #e7ebee transparent transparent transparent

.content-t
	z-index: 1
	position: relative
	.h3
		font-size: 18px
		color: #0c1d38
		text-align: left
		margin-bottom: 27px
		margin-top: 27px
	p
		font-size: 18px
		margin-bottom: 25px
		color: #0c1d38
	ul
		li
			font-size: 18px


.content-w
	.h3
		color: #ffc113
		margin-bottom: 56px
	.opt-txt
		display: flex
		flex-direction: column
		justify-content: center
		text-align: center
		margin-bottom: 37px
		.h4
			font-size: 22px
			color: #ffc113
			margin-top: 5px
		b
			color: #FFFFFF
			font-size: 16px
			text-transform: uppercase
	p
		color: #efefef
		font-size: 18px

.fs-b
	display: flex
	align-items: center
	justify-content: center
	.fs-i
		display: flex
		align-items: center
		&:first-child
			margin-right: 32px
			.txt
				padding-right: 32px
				border-right: solid 1px rgba(#ffffff, 0.43)
	.svg-c
		display: flex
		align-items: center
		justify-content: center
	.txt
		font-size: 16px
		color: #fabd14
		text-transform: uppercase
		font-weight: 700
		margin-left: 18px
		height: 45px
		display: flex
		align-items: center
//yagla start


.yagla-c
	display: flex
	align-items: center
	justify-content: center
.promYagla
	height: 830px
	background-position: center bottom
	.photo-txt
		p
			font-size: 17px
			line-height: 24px
			margin-top: 0px
	.h1
		font-size: 32px
		color: $accent
		font-weight: 700
		text-align: center
		margin-bottom: 48px
		line-height: 1.44
	.yagla-c
		padding-top: 42px
		padding-bottom: 29px

.ps-txt
	color: $accent
	font-size: 11px
.white-block
	text-align: center
	padding: 92px 68px
	border-radius: 4px
	margin-top: 53px
	background-color: #e8edf0
	box-shadow: 0.2px 2px 79px 0 rgba(0, 0, 0, 0.11)
	position: relative
	z-index: 2
	.h2
		font-size: 24px
		color: $accent2
		font-weight: 700
		text-transform: uppercase
		margin-bottom: 33px
	p
		font-size: 14px
.h5
	font-size: 20px
	font-weight: 700
	color: $blue
.source-data-sec
	background: #e8edf0
	padding-top: 140px
	padding-bottom: 70px
	.red-ul
		li
			font-size: 14px
			margin-bottom: 10px
			&:after
				top: 5px
	.content-b
		padding-left: 13px
.diagrams
	display: flex
	align-items: flex-start
	.diag-i
		display: flex
		flex-direction: column
		text-align: center
		justify-content: space-between
		height: 100%
		min-height: 323px
		i
			font-size: 18px
			margin-bottom: 5px
			display: inline-block
		.discr
			display: flex
			flex-direction: column
			text-align: center
			justify-content: center

.outsource-sec
	background-position: top center
	background-color: #e9edf0
	padding-top: 128px
	background-repeat: no-repeat
	padding-bottom: 76px
	padding-bottom: 133px
	position: relative
	//&:after
	//	content: ''
	//	width: 0
	//	height: 0
	//	border-style: solid
	//	border-width: 33px 103px 0 103px
	//	border-color: #007bff transparent transparent transparent
	//	position: absolute
	//	bottom: -33px
	//	z-index: 1
	//	left: 50%
	//	transform: translate(-50%, 0)
	//	background-image: url("../img/startBg.png")
	.img-c
		text-align: center
	h3, .h2
		color: #ffc113
		font-size: 30px
		font-weight: 900
		text-transform: uppercase
		text-align: center
		margin-top: 30px
		margin-bottom: 45px
	.content-p
		*
			color: #FFFFFF
		p
			font-size: 16px
			text-align: center
			line-height: 1.5
		strong
			font-weight: 900
			color: #ffbb00
			font-size: 20px
.tasks-sec
	padding-top: 102px
	background-position: center top
	position: relative
	margin-top: -33px
	padding-bottom: 57px
	background-repeat: no-repeat
	.h2
		color: #ffc113
		font-size: 30px
		font-weight: 900
		text-transform: uppercase
		text-align: center
		margin-top: 0px
		margin-bottom: 45px

.num-list
	padding: 0px
	margin: 0px
	.num-b
		display: flex
		align-items: center
		margin-right: 26px
	.num-t
		font-size: 23px
		font-weight: 700
		color: #ffc600
		margin-left: 5px
	li
		display: flex
		align-items: center
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0px
		*
			color: #FFFFFF
			line-height: 1.29

.doneYagla-sec
	padding-top: 75px
	padding-bottom: 75px
	i
		font-size: 14px
		color: $blue
		text-align: center
		display: block

.h2-accent2
	color: $accent2
	font-size: 30px
	font-weight: 700
	text-transform: uppercase
	text-align: center
	margin-top: 21px
	margin-bottom: 17px

.done-list-c
	.h2-accent2
		margin-top: 8px
	.done-list-i
		display: flex
		align-items: flex-start
		padding: 51px 0px
		border-bottom:  dashed 1px $accent2
		&.light-t
			border-color: #ffbb00
			p
				color: #e8edf0
				line-height: 1.5
				font-size: 16px
			.h2-accent2
				color: #ffc113
			.h5
				color: #ffc113
			.content-b
				a
					font-size: 20px 
					font-weight: 900
					color: #FFFFFF
					&:hover
						text-decoration: none
			.discr
				i
					color: #e8edf0
					text-align: center
					width: 100%
					display: block
		&:last-child
			border-bottom: none
			padding-bottom: 0px
		.side-b
			width: 50%
			&:first-child
				padding-right: 50px
			&.w-100
				width: 100%
			.img-c
				margin-bottom: 20px
				img
					max-width: 100%
			.h2-accent2
				text-align: left
	.discr
		i
			color: #0c1d38
			font-weight: 500
			margin-bottom: 0px
	.content-b
		p
			font-size: 14px
		*
			color: $blue
	.red-ul
		padding-left: 25px
		li
			margin-bottom: 10px
			&:after
				top: 5px
.txt-check-accent
	display: flex
	align-items: center
	margin-top: 15px
	.svg-c
		display: flex
		align-items: center
	.txt
		font-size: 20px
		color: $accent2
		margin-left: 5px

.proofmoment-sec
	padding: 62px 0px
	padding-bottom: 100px
	.img-c
		display: flex
		justify-content: center
		margin-bottom: 29px
.yel-h2
	color: #ffc113
	font-size: 30px
	font-weight: 900
	text-transform: uppercase
	text-align: center
	margin-top: 0

.domonth-sec
	background-position: center top
	padding-top: 65px
	padding-bottom: 117px
	.img-c
		display: flex
		align-items: center
		justify-content: center
	.yel-h2
		margin-top: 26px
		margin-bottom: 20px
	p
		color: #FFFFFF
	li
		color: #FFFFFF

.proof-screenshots
	display: flex
	margin-top: 45px
	.item-sh-c
		flex: 1
		&:nth-child(2)
			justify-content: space-between
			display: flex
			flex-direction: column
			.discr-s
				margin-bottom: 35px
				i
					text-align: left
					display: block
	.item-sh
		display: inline-flex
		align-items: flex-start
		flex-direction: column
	.discr-s
		margin-bottom: 16px
		font-size: 16px
		width: 100%
		text-align: center
		i
			color: $accent

.blue-h2
	color: #ffc113
	font-size: 30px
	font-weight: 900
	text-transform: uppercase
	text-align: center
	margin-top: 0
	color: $blue

.img-c
	img
		max-width: 100%

.results-sec
	background: #e8edf0
	padding: 90px 0px
	.img-c
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 24px
	.discr-blue
		margin-top: 22px
.discr-blue
	text-align: center
	*
		color: $blue
.res-c
	display: flex
	margin-bottom: 25px
	.res-i
		flex: 1
		.d-flex
			display: flex
			flex-direction: column
			justify-content: space-between

.questint-sec
	background: $blue
	padding: 100px 0px
	.white-center-p
		margin-top: 40px
.white-title
	text-align: center
	color: #e8edf0
	text-transform: uppercase
	font-size: 18px
	line-height: 2
	font-weight: 700
	&.big-title
		font-size: 38px
.white-center-p
	text-align: center
	color: #f2f2f2
	font-size: 14px
	a
		color: #4ebeff


.profit2-sec
	padding: 100px 0px
	.btn-c
		text-align: center
		display: flex
		justify-content: center
		margin-top: 25px
	.img-c
		display: flex
		align-items: center
		justify-content: center
		margin-top: 50px
		margin-bottom: 24px
	p
		line-height: 1.5

.arrow-btn
	position: relative
	box-shadow: 0px 0px 55px 0 #7c0c0c
	display: inline-block
	&:before
		content: ''
		position: absolute
		background-image: url("../img/yelArr.png")
		background-repeat: no-repeat
		background-position: center
		width: 36.4px
		height: 32.3px
		left: -61px
		top: -13px

.red-h2
	color: #d52730
	font-size: 30px
	font-weight: 900
	text-transform: uppercase
	text-align: center
	margin-top: 0

#d11
	height: 1107px
	background-position: center bottom
	padding-top: 0px
.xt-author
	color: #FFFFFF
	text-align: center
	margin-top: 25px
	.accent-txt
		color: $accent
	a
		color: #4ebeff
//yagla end

//typepage start
.cosmos-title
	padding: 55px 0px
	background-position: top 
	h1
		font-size: 39px
		color: $accent
		font-weight: 700
		text-transform: uppercase
		text-align: center
.typepage-cont
	background: #11294e
	padding: 30px 0px
	.wrap
		background: #e8edf0
	.content-t
		position: relative
		min-height: 350px
		background: #e8edf0
		padding: 84px 0px
		padding-left: 65px
		padding-right: 73px
		h2
			font-size: 30px
			text-align: center
			font-weight: 700
			text-transform: uppercase
			color: #252525
			line-height: 1.5
		h3
			font-size: 24px
			line-height: 1.9
			text-align: center
			font-weight: 700
			text-transform: uppercase
			color: #252525
		a
			color: #1eadff
		p
			font-size: 16px
			line-height: 25px
			margin: 10px 0px
		&.angle-acc
			&:after
				content: ''
				position: absolute
				top: 0px
				right: 0px
				background: #cf5a01
				box-shadow: 0.2px 2px 79px 0 rgba(0, 0, 0, 0.11)
				width: 63px
				height: 63px
				border-bottom-left-radius: 5px
			&:before
				content: ''
				position: absolute
				top: 0px
				right: 0px
				width: 0
				height: 0
				z-index: 1
				border-style: solid
				border-width: 0 63px 63px 0
				border-color: transparent #11294e transparent transparent
		ul
			list-style: none
			padding-left: 40px
			max-width: 100%
			margin: 10px 0px
			&.yel-t
				padding-left: 40px
				li
					margin-bottom: 20px
					&:after
						background: #ffc113
						top: 5px
						left: -34px
			li
				color: #0c1d38
				font-size: 16px
				position: relative
				line-height: 1.2
				margin-bottom: 15px
				&:after
					content: ''
					position: absolute
					left: -17px
					top: 6px
					width: 6px
					height: 6px
					background: #ff0000
		ol
			list-style-type: none
			counter-reset:  item
			padding-left: 0px
			margin: 10px 0px
			li
				font-weight: 500
				position: relative
				font-size: 16px
				margin-bottom: 15px
				line-height: 1.7
				&:before
					content: counter(item)
					counter-increment: item
					color: #dd3432
					font-weight: 700
					border-radius: 100px
					min-width: 18px
					min-height: 18px
					display: inline-block
					text-align: center
					font-size: 18px
					line-height: 18px
					margin-right: 5px
					margin-left: 17px
		h4
			font-size: 20px
			font-weight: 700
			color: #14233c
			margin-bottom: 15px
		img
			max-width: 100%
		.img-discr
			text-align: center
			display: block
			margin-top: 29px
			margin-bottom: 41px
.end-txt
	color: #e8edf0
	font-size: 18px
	font-weight: 700
	background-position: center
	padding: 20px 60px
	text-align: center
//typepage end

//project end


@import "media" // Всегда в конце
